high-availability {
    vrrp {
        group LAN {
            interface eth1
            peer-address 10.0.5.3
            priority 255
            virtual-address 10.0.5.1/24
            vrid 10
        }
        group OPT {
            interface eth2
            virtual-address 10.0.6.1/24
            vrid 20
        }
        group wangroup5 {
            interface eth0
            peer-address 10.0.17.55
            priority 255
            virtual-address 10.0.17.75/24
            vrid 155
        }
    }
}
interfaces {
    ethernet eth0 {
        address 10.0.17.15/24
        description WAN
        hw-id 00:50:56:b3:ab:f3
    }
    ethernet eth1 {
        address 10.0.5.2/24
        description LAN
        hw-id 00:50:56:b3:11:87
    }
    ethernet eth2 {
        address 10.0.6.2/24
        description OPT
    }
    loopback lo {
    }
}
nat {
    destination {
        rule 10 {
            description "NAT from WAN to web01 HTTP Port 80"
            destination {
                port 80
            }
            inbound-interface eth0
            protocol tcp
            translation {
                address 10.0.5.100
            }
        }
        rule 20 {
            description "NAT from WAN to web01 SSH Port 22"
            destination {
                port 22
            }
            inbound-interface eth0
            protocol tcp
            translation {
                address 10.0.5.100
            }
        }
    }
    source {
        rule 10 {
            description "Masquerading for LAN"
            outbound-interface eth0
            source {
                address 10.0.5.0/24
            }
            translation {
                address masquerade
            }
        }
    }
}
protocols {
    static {
        route 0.0.0.0/0 {
            next-hop 10.0.17.2 {
            }
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 10.0.5.0/24
            allow-from 10.0.6.0/24
            listen-address 10.0.5.1
            listen-address 10.0.6.1
            listen-address 10.0.5.2
            name-server 10.0.17.2
        }
    }
    ssh {
        listen-address 10.0.5.2
        listen-address 10.0.17.15
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name vyos1-dylan
    login {
        user vyos {
            authentication {
                encrypted-password ****************
                plaintext-password ****************
            }
        }
    }
    name-server 10.0.17.2
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ 
vyos@vyos1-dylan:/config$ exit
logout
Connection to 10.0.17.15 closed.
champuser@ubuntu:~$ ssh vyos@10.0.17.55
^C
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
ssh: connect to host 10.0.17.55 port 22: Connection refused
champuser@ubuntu:~$ ssh vyos@10.0.17.55
The authenticity of host '10.0.17.55 (10.0.17.55)' can't be established.
ECDSA key fingerprint is SHA256:lZY/bY7xrbZltWzL+PnDn19TUH1Cxb7XPMdX0MiUT9c.
Are you sure you want to continue connecting (yes/no/[fingerprint])? yes
Warning: Permanently added '10.0.17.55' (ECDSA) to the list of known hosts.
Welcome to VyOS
vyos@10.0.17.55's password: 
Linux vyos2-dylan 4.19.128-amd64-vyos #1 SMP Fri Jun 26 18:51:48 UTC 2020 x86_64

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.
vyos@vyos2-dylan:~$ cd /config/
vyos@vyos2-dylan:/config$ ls
archive  auth  config.boot  scripts  support  url-filtering  user-data  vyos-migrate.log
vyos@vyos2-dylan:/config$ show configuration 
high-availability {
    vrrp {
        group LAN {
            interface eth1
            peer-address 10.0.5.2
            priority 1
            virtual-address 10.0.5.1/24
            vrid 10
        }
        group OPT {
            interface eth2
            virtual-address 10.0.6.1/24
            vrid 20
        }
        group wangroup5 {
            interface eth0
            peer-address 10.0.17.15
            priority 1
            virtual-address 10.0.17.75/24
            vrid 155
        }
    }
}
interfaces {
    ethernet eth0 {
        address 10.0.17.55/24
        hw-id 00:50:56:b3:af:44
    }
    ethernet eth1 {
        address 10.0.5.3/24
        hw-id 00:50:56:b3:d0:17
    }
    ethernet eth2 {
        address 10.0.6.3/24
        description OPT
    }
    loopback lo {
    }
}
nat {
    destination {
        rule 10 {
            description "NAT from WAN to web01 HTTP Port 80"
            destination {
                port 80
            }
            inbound-interface eth0
            protocol tcp
            translation {
                address 10.0.5.100
            }
        }
        rule 20 {
            description "NAT from WAN to web01 SSH Port 22"
            destination {
                port 22
            }
            inbound-interface eth0
            protocol tcp
            translation {
                address 10.0.5.100
            }
        }
    }
    source {
        rule 10 {
            description "Masquerading for LAN"
            outbound-interface eth0
            source {
                address 10.0.5.0/24
            }
            translation {
                address masquerade
            }
        }
    }
}
protocols {
    static {
        route 0.0.0.0/0 {
            next-hop 10.0.17.2 {
            }
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 10.0.5.0/24
            allow-from 10.0.6.0/24
            listen-address 10.0.5.1
            listen-address 10.0.6.1
            listen-address 10.0.5.3
            name-server 10.0.17.2
        }
    }
    ssh {
        listen-address 10.0.5.3
        listen-address 10.0.17.55
        port 22
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name vyos2-dylan
    login {
        user vyos {
            authentication {
                encrypted-password ****************
                plaintext-password ****************
            }
        }
    }
    name-server 10.0.17.2
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}

